*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: grey;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

.done{
    background-color: rgba(0, 128, 0, 0.699);
}

.canceled{
    background-color: rgb(235, 12, 12);
}

.doing{
    background-color: rgba(255, 81, 0, 0.945);
}

.pending{
    background-color: rgba(0, 0, 255, 0.781);
}